@import './utils/variables';
@import './utils/visualy-hidden';
@import './base/comon';

@import './base/container';
@import './componens/header';
@import './componens/logo';
@import './componens/section';
@import './componens/section-title';
@import './componens/footer';
@import './componens/modal-windows';


@import './layout/hero';
@import './layout/futers';
@import './layout/doing';
@import './layout/team';
@import './layout/customers';
@import './layout/portfolio';
@import './layout/footer';
