
.team {
    background-color: var(--light-bg-color);
}
.team__list{
    display: flex;
    gap: 30px;
}
.team__item {
    background-color: var(--primary-bg-color);
    border-radius: 0px 0px 4px 4px;


/* material shadow v1 */
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team__text-wrap{
    padding: 30px 0;
}
.team__subtitle {
margin-bottom: 10px;
    text-align: center;

    font-size: 16px;

    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.03em;
}

.team__text {
    color: var(--secondary-text-color);
    text-align: center;

    font-size: 16px;

    line-height: normal;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}
.team__soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.team__soc-item {
    width: 44px;
height: 44px;
}
.team__soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;

    color: #AFB1B8;
    transition:  background-color var(--timing-function), color var(--timing-function);

    &:hover,
    &:focus{
        background-color: #2196F3;
        color:#FFFFFF;
        outline: transparent;
    }
}

.team__soc-icon {
    fill: currentColor;
}