body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
    font-size: 14px;
    background-color: var(--primary-bg-color);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin: 0;

}

img {
    display: block;
    height: auto;


}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}