.logo {
    color: var(--accent-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
   padding: 16px 0;
}


.logo--part {
    color: var(--third-text-color);
}
.logo--footer{
    display: block;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
}
.logo--part-footer {
    color: var(--light-text-color);
}
@media only screen and (min-width: 768px) {
   .logo{
    margin-right: 88px;
  }
  .logo--footer {
   margin-left: auto;
   margin-right: auto;
  }
}
@media only screen and (min-width: 1200px) {
    .logo{
     margin-right: 93px;
   }
 }