.mobile__open-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    line-height: 0;
    padding: 0;
  
    }
   
    .mobile__open-btn:hover .mobile__icon-burger,
    .mobile__open-btn:focus .mobile__icon-burger {
        fill: #2196F3;

    }
 .mobile__icon-burger{
        transition: fill var(--timing-function);
    }

@media only screen and (min-width: 768px) {
    .mobile__open-btn{
     display: none;
     
   }}