
.section-title {
    text-align: center;

    font-size: 28px;


    line-height: normal;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}
@media only screen and (min-width: 1200px) {
   .section-title{
    font-size: 36px;
    margin-bottom: 50px;
    
  }
}